<phpunit bootstrap="./bootstrap.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../fatfree/app</directory>
        </whitelist>
    </filter>
    <testsuite>
        <directory>./</directory>
    </testsuite>
    <php>
        <var name="DB_DSN" value="sqlite::memory:" />
        <var name="DB_USER" value="" />
        <var name="DB_PASSWORD" value="" />
    </php>
</phpunit>