<phpunit bootstrap="./bootstrap.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../app</directory>
            <exclude>
                <file>../app/common/di/definitions.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuite>
        <directory>./</directory>
    </testsuite>
</phpunit>